<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.toernooi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.toernooi.AddToernooiActivity"
            android:label="@string/title_activity_add_toernooi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.toernooi.ToernooiDetailsActivity"
            android:label="@string/title_activity_toernooi_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.toernooi.ModifyToernooiActivity"
            android:label="@string/title_activity_modify_toernooi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.speler.AddSpelerActivity"
            android:label="@string/title_activity_add_speler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.speler.SpelerDetailsActivity"
            android:label="@string/title_activity_speler_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.speler.ModifySpelerActivity"
            android:label="@string/title_activity_modify_speler"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>